._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-etracs-main/nbproject/private/
/client/rameses-gov-etracs-signatory-template/nbproject/private/
/client/rameses-gov-etracs-tools/nbproject/private/
/client/rameses-gov-lgu/nbproject/private/
/client/rameses-etracs-main/build/
/client/rameses-etracs-main/dist/
/client/rameses-gov-etracs-signatory-template/build/
/client/rameses-gov-etracs-signatory-template/dist/
/client/rameses-gov-etracs-tools/build/
/client/rameses-gov-etracs-tools/dist/
/client/rameses-gov-lgu/build/
/client/rameses-gov-lgu/dist/
/client/rameses-gov-etracs-v255-bridge/build/
/client/rameses-gov-etracs-v255-bridge/dist/
/client/rameses-gov-etracs-v255-bridge/nbproject/private/